@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RTQuizz</h1>
    <p>Créez ou rejoignez un Quizz</p>
</div>

<br/><hr/><br/>

<div class="text-lg-center">
    <form method="POST" action="@Url.Action("MyAction", "Home")">
        Nom :
        <br/>
        <input type="text" id="nomUser" name="nomUser" required>
        <br/>
        Code Quizz :
        <br/>
        <input type="text" id="nomQuizz" name="nomQuizz" required>
        <br/><br/>
        <input type="submit" name="Rejoindre" value="Rejoindre" />
        <input type="submit" name="Creer" value="Creer" />

    </form>
</div>