@{
    ViewData["Title"] = "Quizz Page";
}
@*<h1>@ViewBag.Formateur.idFormateur</h1>*@

<div class="text-center">
    <h1 class="display-4">Resultats</h1>
</div>

<br />
<hr />
<br />

<div class="text-lg-center">
    <table>
        <thead>
            <tr>
                <td>PRENOMS</td>
                <td>REPONSES</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PRENOMS</td>
                <td>REPONSES</td>
            </tr>
        </tbody>
    </table>
</div>
@************************************************************@
<div class="row">
    <div class="col-6">
        <ul id="ReponseListNom"></ul>
        <ul id="ReponseListReponse"></ul>
        <ul id="ReponseListJuste"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ResultQuestion.js"></script>