@{
    ViewData["Title"] = "Quizz Page";
}
@*<h1>@ViewBag.Formateur.idFormateur</h1>*@

<div class="text-center">
    <h1 class="display-4">Resultats</h1>
</div>

<br />
<hr />
<br />

<div class="text-lg-center">
    <table id="tableRep">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Reponse</th>
                <th>Resultat</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>
@************************************************************@

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ResultQuestion.js"></script>